.c2 {
    padding-top: 8.6rem;
}

.c2-content {
    position: relative;
    margin-top: 2.5rem;
}

.c2-content img {
    width: 100%;
}

.c2-top-text,
.c2-bot-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 15.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.c2-bot-text {
    font-weight: 400;
    top: 23.2rem;
}