header {
    padding-top: 40.4rem;
    padding-bottom: 3.2rem;
}

.header-state_text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 132%;
    text-align: center;
    color: #fff;
}

.header-timer_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    color: #fff;
}

.timer {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.hours-wrap p,
.minutes-wrap p,
.seconds-wrap p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    color: #bc78f2;
    margin-top: 0.5rem;
}

.hours,
.minutes,
.seconds {
    background-color: #ffff;
    border-radius: 15rem;
    width: 6.7rem;
    height: 3.8rem;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 92%;
    text-align: center;
    color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

.header-price {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.3rem;
}

.header-price_new {
    border-radius: 1rem;
    width: 16rem;
    height: 6.8rem;
    background: #ff5f05;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.header-price_new span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 143%;
    color: #fff;
}

.header-price_new p {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 5rem;
    line-height: 40%;
    text-align: center;
    margin-top: 1rem;
    color: #fff;
}

.header-price_old {
    border: 1px solid #cfcfcf;
    border-radius: 1rem;
    width: 12.2rem;
    height: 6.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background: #e9e9e9;
}

.header-price_old span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 143%;
    color: #989898;
}

.header-price_old p {
    position: relative;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 114%;
    margin-top: 0.7rem;
    color: #989898;
}

.header-price_old p:before {
    content: "";
    display: block;
    border: 0.5px solid #f00;
    width: 4.2rem;
    height: 0rem;
    left: 0rem;
    top: 1.65rem;
    position: absolute;
}

.header-reality_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fffefe;
    margin-bottom: 1.1rem;
}

.header-bonus_img {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    pointer-events: none;
}

.header-list_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    row-gap: 2.2rem;
    width: 31.7rem;
    margin: 0 auto;
}

.header-list_item {
    display: flex;
    gap: 0.5rem;
    width: 15rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    color: #fff;
}

.header-list_item img {
    width: 1.3rem;
    height: 1.3rem;
}

.header-bottom_block {
    position: relative;
    display: flex;
    align-items: center;
    width: 34.1rem;
    height: 8.1rem;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 2.5rem;
}

.header-bottom_block img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-bottom_block p {
    position: relative;
}